.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo__container{
    margin-left: 5%;
    

}

.audio__container{
    margin-right: 5%;
    
}

